<!DOCTYPE html>
<html>
<head>
    <title>Login - Placement Preparation Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Placement Preparation Dashboard</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
    </nav>
</header>

<div class="container">

    <section class="hero">
        <h2>Student Login</h2>

        <form method="POST">

            <p>
                <label>Email:</label><br>
                <input type="email" name="email" required>
            </p>

            <br>

            <p>
                <label>Password:</label><br>
                <input type="password" name="password" required>
            </p>

            <br>

            <button type="submit" class="btn">Login</button>

        </form>

        <br>

        <p>
            Don't have an account?
            <a href="/register">Create Account</a>
        </p>

    </section>

</div>

<footer>
    <p>© 2026 Placement Preparation Dashboard</p>
</footer>

</body>
</html>